
<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html">

<sly data-sly-call="${clientlib.all@ categories='clbamazon'}"/>

<div data-sly-use.banner="com.aem.geeks.core.models.banner"></div>

<div id="header" class="">
            <div class="headph">
   <header>
       <div class="header clearfix">
           <div class="logo"><h1><a href="http://www.valdel.com/"><img src="http://www.valdel.com/gocart/themes/valdel/assets/img/logo.png" alt=""></a></h1></div>
            <div class="phmenu">  
               <div class="mnubtn clearfix">
                  <a href="#" title="Menu" class="moblnk"><img src="http://www.valdel.com/gocart/themes/valdel/assets/img/mnu---Copy.png" alt=""></a>
               </div>
            </div> 
       </div>
   </header>
         <nav>
          <div id="mainav">
          <ul id="head-nav">
              <li class="hasub "><a href="#">Valdel Group</a>
              <div class="submenu s1" style="display: none; height: 271px; padding-top: 25px; margin-top: 0px; padding-bottom: 25px; margin-bottom: 0px;">
                  <div class="hemenuph">
                      <div class="prodmnublk">
                          <ul class="smnu">


                               
                              <li><a href="http://www.valdel.com/about_us">About Valdel</a></li>
                              <li><a href="http://www.valdel.com/about_us#inspiration" class="conloc">Our Inspiration</a></li>
                              <li><a href="http://www.valdel.com/about_us#vision" class="conloc">Vision, Values &amp; Brand</a></li>
                              <li> <a href="http://www.valdel.com/about_us#chair" title="" class="conloc">Director's Desk</a></li>
                              <li><a href="http://www.valdel.com/about_us#mile" class="conloc">Milestones</a></li>
                              <li><a href="http://www.valdel.com/team">Management Team</a></li>
                              <li><a href="http://www.valdel.com/about_us#office" class="conloc">office locations</a></li>
                                                            <li><a href="http://www.valdel.com/page/social_responsibility" class="conloc">Social Responsibilty</a></li>

                       
                          </ul>
                      </div>
                  </div>
              </div>
              </li>
              <li class="hasub "><a href="#">OUR BUSINESSES</a>
              <div class="submenu s2" style="display: none; height: 102px; padding-top: 25px; margin-top: 0px; padding-bottom: 25px; margin-bottom: 0px;">
                  <div class="hemenuph">
                      <div class="prodmnublk">
                          <ul class="smnu">
                            <li class="hasub1"><a href="http://www.valdel.com/oil_gas/engineers_and_constructors">Oil &amp; Gas</a>
 <div class="submenu1" style="display: none; height: 68px; padding-top: 0px; margin-top: 0px; padding-bottom: 0px; margin-bottom: 0px;">
                          <ul class="smnu1">
                              <li><a href="http://www.valdel.com/oil_gas/engineers_and_constructors">Engineers &amp; Constructors</a></li>
                              <li><a href="http://www.valdel.com/oil_gas/exploration_and_production"> Exploration &amp; Production</a></li>
                          </ul>
                     
              </div></li> 
                         <!--    <li class="valeng" ><a href="http://www.valdel.com/oil_gas" data-dlnk="0">Valdel Engineers & Constructors Pvt Ltd</a></li>
                              <li class="valdelol" ><a href="#" data-dlnk="1">Valdel Oil & Gas Pvt Ltd</a></li> -->
                              <li><a href="http://www.valdel.com/real_estate">Real Estate</a></li>
                              <li><a href="http://www.valdel.com/advanced_technologies">Advanced Technologies</a></li>
                          </ul>
                      </div>
                  </div>
              </div>
              </li>
              <!--<li><a href="#">SUSTAINABILITY</a></li> -->
                <li class="">
<!--<a href="http://www.valdel.com/page/social_responsibility">Social Responsibilty</a>-->
<a href="http://www.valdel.com/page/work_with_us" class="conloc">Work with us</a>
</li>
            <!--  <li class="hasub"><a href="http://www.valdel.com/oil_gas">SUSTAINABILITY</a>
               <div class="submenu s3">
                  <div class="hemenuph">
                      <div class="prodmnublk">
                          <ul class="smnu">
                              <li><a href="#">about valdel</a></li>
                              <li><a href="#">from chairman’s desk</a></li>
                              <li><a href="#">vision &amp; mission</a></li>
                              <li><a href="#">managetment team</a></li>
                          </ul>
                      </div>
                      
                      <div class="prodmnublk">
                          <ul class="smnu">
                              <li><a href="#">about valdel</a></li>
                              <li><a href="#">from chairman’s desk</a></li>
                              <li><a href="#">vision &amp; mission</a></li>
                              <li><a href="#">managetment team</a></li>
                          </ul>
                      </div>
                  </div>
              </div>
              </li> -->
             <!-- <li><a href="#">Partners</a></li>-->
            <!--  <li><a href="#">Working with us</a></li> -->
              <li class=""><a href="http://www.valdel.com/news_events">News &amp; Events</a></li>
              <li class="hasub "><a href="#">Contact us</a>
<div class="submenu s3">
                  <div class="hemenuph">
                      <div class="prodmnublk">
                          <ul class="smnu">
<li><a href="http://www.valdel.com/contact_us" class="conloc">Office locations</a></li>
  <li><a href="http://www.valdel.com/contact_us#enquiry" class="conloc">Get in touch</a></li>
                             <!-- <li><a href="http://www.valdel.com/page/work_with_us">Work with us</a></li>-->
                          </ul>
                      </div>
                  </div>
              </div>


