<section id="homsldr">
            <div class="container">
            <div class="desks">
             <div id="ovrbanns" class="scrollmm flows" style="height: 1174px;">
             <div class="homeslidr flow" id="ovrbann" style="top: 0px;">
                 <div class="homsld" style="position: relative;"><div class="sld cycle-slide cycle-sentinel" style="position: static; top: 0px; left: 0px; z-index: 100; opacity: 1; display: block; visibility: hidden;">
                     <div class="mob" style="visibility: hidden;"><img src="http://www.valdel.com/uploads/images/full/47653af1f9932813b8509e6976d1621d.jpg" alt="OIL &amp; GAS" style="visibility: hidden;">
                     <div class="sldtxt" style="visibility: hidden;">
                        <h3 style="visibility: hidden;">OIL &amp; GAS</h3>
                        <p style="visibility: hidden;">Downstream Design Engineering,<br style="visibility: hidden;"> Exploration  &amp;  Production

</p>
                        <a href="http://valdel.com/oil_gas/engineers_and_constructors" class="read" style="visibility: hidden;">read more</a>
                    </div>

                     </div> 

                     <div class="desk" style="visibility: hidden;"><img sizes="(max-width: 1366px) 100vw, 1366px" srcset="http://www.valdel.com/uploads/images/full/47653af1f9932813b8509e6976d1621d.jpg 624w, http://www.valdel.com/uploads/images/full/bae0da334fc1a32627e10ab3a8260e53.jpg 1200w, http://www.valdel.com/uploads/images/full/1082673ecadef4e559fa845d6cc30fb2.jpg 1366w" src="http://www.valdel.com/uploads/images/full/1082673ecadef4e559fa845d6cc30fb2.jpg" alt="OIL &amp; GAS" style="visibility: hidden;"></div>
                     <div class="sldtxt" style="visibility: hidden;">
                        <h3 style="visibility: hidden;">OIL &amp; GAS</h3>
                        <p style="visibility: hidden;">Downstream Design Engineering,<br style="visibility: hidden;"> Exploration  &amp;  Production

</p>
                        <div class="read1" style="visibility: hidden;">
                        <a href="http://valdel.com/oil_gas/engineers_and_constructors" class="read" style="visibility: hidden;">read more</a>
                        </div>
                    </div>
                     </div>
                                                                                                    <div class="sld cycle-slide" style="position: absolute; top: 0px; left: 0px; z-index: 100; opacity: 0; display: block; visibility: hidden;">
                     <div class="mob"><img src="http://www.valdel.com/uploads/images/full/47653af1f9932813b8509e6976d1621d.jpg" alt="OIL &amp; GAS">
                     <div class="sldtxt">
                        <h3>OIL &amp; GAS</h3>
                        <p>Downstream Design Engineering,<br> Exploration  &amp;  Production

</p>
                        <a href="http://valdel.com/oil_gas/engineers_and_constructors" class="read">read more</a>
                    </div>

                     </div> 

                     <div class="desk"><img sizes="(max-width: 1366px) 100vw, 1366px" srcset="http://www.valdel.com/uploads/images/full/47653af1f9932813b8509e6976d1621d.jpg 624w, http://www.valdel.com/uploads/images/full/bae0da334fc1a32627e10ab3a8260e53.jpg 1200w, http://www.valdel.com/uploads/images/full/1082673ecadef4e559fa845d6cc30fb2.jpg 1366w" src="http://www.valdel.com/uploads/images/full/1082673ecadef4e559fa845d6cc30fb2.jpg" alt="OIL &amp; GAS"></div>
                     <div class="sldtxt">
                        <h3>OIL &amp; GAS</h3>
                        <p>Downstream Design Engineering,<br> Exploration  &amp;  Production

</p>
                        <div class="read1">
                        <a href="http://valdel.com/oil_gas/engineers_and_constructors" class="read">read more</a>
                        </div>
                    </div>
                     </div><div class="sld cycle-slide cycle-slide-active" style="position: absolute; top: 0px; left: 0px; z-index: 99; visibility: visible; opacity: 1; display: block;">
                     <div class="mob"><img src="http://www.valdel.com/uploads/images/full/d0d3574df2a8f9a43f63fcdf01cad86e.jpg" alt="Real estate">
                     <div class="sldtxt">
                        <h3>Real estate</h3>
                        <p>Pioneers In Redefining Skylines.
</p>
                        <a href="http://valdel.com/real_estate" class="read">read more</a>
                    </div>

                     </div> 

                     <div class="desk"><img sizes="(max-width: 1366px) 100vw, 1366px" srcset="http://www.valdel.com/uploads/images/full/d0d3574df2a8f9a43f63fcdf01cad86e.jpg 624w, http://www.valdel.com/uploads/images/full/465291b636776587927d86f57aafd06b.jpg 1200w, http://www.valdel.com/uploads/images/full/ac133f5b39da77f61c5cd7d315bd5e64.jpg 1366w" src="http://www.valdel.com/uploads/images/full/ac133f5b39da77f61c5cd7d315bd5e64.jpg" alt="Real estate"></div>
                     <div class="sldtxt">
                        <h3>Real estate</h3>
                        <p>Pioneers In Redefining Skylines.
</p>
                        <div class="read1">
                        <a href="http://valdel.com/real_estate" class="read">read more</a>
                        </div>
                    </div>
                     </div><div class="sld cycle-slide" style="position: absolute; top: 0px; left: 0px; z-index: 97; visibility: hidden; opacity: 0; display: block;">
                     <div class="mob"><img src="http://www.valdel.com/uploads/images/full/8e711441b880f25d4ae20df2d3300bf7.jpg" alt="advanced technologies">
                     <div class="sldtxt">
                        <h3>advanced technologies</h3>
                        <p>Excellence In Design &amp; <br>
Manufacturing</p>
                        <a href="http://valdel.com/advanced_technologies" class="read">read more</a>
                    </div>

                     </div> 

                     <div class="desk"><img sizes="(max-width: 1366px) 100vw, 1366px" srcset="http://www.valdel.com/uploads/images/full/8e711441b880f25d4ae20df2d3300bf7.jpg 624w, http://www.valdel.com/uploads/images/full/bd617ef735a06cae8d0eec1790bf37e6.jpg 1200w, http://www.valdel.com/uploads/images/full/41f0c193ee8efad428e30ad48831d30d.jpg 1366w" src="http://www.valdel.com/uploads/images/full/41f0c193ee8efad428e30ad48831d30d.jpg" alt="advanced technologies"></div>
                     <div class="sldtxt">
                        <h3>advanced technologies</h3>
                        <p>Excellence In Design &amp; <br>
Manufacturing</p>
                        <div class="read1">
                        <a href="http://valdel.com/advanced_technologies" class="read">read more</a>
                        </div>
                    </div>
                     </div></div>
                
          </div>
             <div class="hbanctrls">
                   <div class="centcontxl">
                       <div id="banpgr"><span class="">•</span><span class="cycle-pager-active">•</span><span class="">•</span></div><a href="#" class="playpause">Play/Pause</a>
                   </div>
                     </div>
             </div>

             </div>
           


<div class="mobs">
  <div class="homeslidr">
                 <div class="homsld1" style="position: relative;"><div class="sld cycle-slide cycle-sentinel" style="position: static; top: 0px; left: 0px; z-index: 100; opacity: 1; display: block; visibility: hidden;">
                     <div class="mob" style="visibility: hidden;"><img src="http://www.valdel.com/uploads/images/full/47653af1f9932813b8509e6976d1621d.jpg" alt="OIL &amp; GAS" style="visibility: hidden;">
                     <div class="sldtxt" style="visibility: hidden;">
                        <h3 style="visibility: hidden;">OIL &amp; GAS</h3>
                        <p style="visibility: hidden;">Downstream Design Engineering,<br style="visibility: hidden;"> Exploration  &amp;  Production

</p>
 <div class="read1" style="visibility: hidden;">
                        <a href="http://valdel.com/oil_gas/engineers_and_constructors" class="read" style="visibility: hidden;">read more</a>
 </div>
                    </div>

                     </div> 

                     <div class="desk" style="visibility: hidden;"><img sizes="(max-width: 1366px) 100vw, 1366px" srcset="http://www.valdel.com/uploads/images/full/47653af1f9932813b8509e6976d1621d.jpg 624w, http://www.valdel.com/uploads/images/full/bae0da334fc1a32627e10ab3a8260e53.jpg 120w, http://www.valdel.com/uploads/images/full/1082673ecadef4e559fa845d6cc30fb2.jpg 1366w" src="http://www.valdel.com/uploads/images/full/1082673ecadef4e559fa845d6cc30fb2.jpg" alt="OIL &amp; GAS" style="visibility: hidden;">
</div>
<div class="sldtxt desk" style="visibility: hidden;">
                        <h3 style="visibility: hidden;">OIL &amp; GAS</h3>
                        <p style="visibility: hidden;">Downstream Design Engineering,<br style="visibility: hidden;"> Exploration  &amp;  Production

</p>
                        <a href="http://valdel.com/oil_gas/engineers_and_constructors" class="read" style="visibility: hidden;">read more</a>
                    </div>
                     
                     </div>
                                                                                                    <div class="sld cycle-slide cycle-slide-active" style="position: absolute; top: 0px; left: 0px; z-index: 99; opacity: 0.682913; display: block; visibility: visible;">
                     <div class="mob"><img src="http://www.valdel.com/uploads/images/full/47653af1f9932813b8509e6976d1621d.jpg" alt="OIL &amp; GAS">
                     <div class="sldtxt">
                        <h3>OIL &amp; GAS</h3>
                        <p>Downstream Design Engineering,<br> Exploration  &amp;  Production

</p>
 <div class="read1">
                        <a href="http://valdel.com/oil_gas/engineers_and_constructors" class="read">read more</a>
 </div>
                    </div>

                     </div> 

                     <div class="desk"><img sizes="(max-width: 1366px) 100vw, 1366px" srcset="http://www.valdel.com/uploads/images/full/47653af1f9932813b8509e6976d1621d.jpg 624w, http://www.valdel.com/uploads/images/full/bae0da334fc1a32627e10ab3a8260e53.jpg 120w, http://www.valdel.com/uploads/images/full/1082673ecadef4e559fa845d6cc30fb2.jpg 1366w" src="http://www.valdel.com/uploads/images/full/1082673ecadef4e559fa845d6cc30fb2.jpg" alt="OIL &amp; GAS">
</div>
<div class="sldtxt desk">
                        <h3>OIL &amp; GAS</h3>
                        <p>Downstream Design Engineering,<br> Exploration  &amp;  Production

</p>
                        <a href="http://valdel.com/oil_gas/engineers_and_constructors" class="read">read more</a>
                    </div>
                     
                     </div><div class="sld cycle-slide" style="position: absolute; top: 0px; left: 0px; z-index: 97; visibility: hidden; opacity: 0; display: block;">
                     <div class="mob"><img src="http://www.valdel.com/uploads/images/full/d0d3574df2a8f9a43f63fcdf01cad86e.jpg" alt="Real estate">
                     <div class="sldtxt">
                        <h3>Real estate</h3>
                        <p>Pioneers In Redefining Skylines.
</p>
 <div class="read1">
                        <a href="http://valdel.com/real_estate" class="read">read more</a>
 </div>
                    </div>

                     </div> 

                     <div class="desk"><img sizes="(max-width: 1366px) 100vw, 1366px" srcset="http://www.valdel.com/uploads/images/full/d0d3574df2a8f9a43f63fcdf01cad86e.jpg 624w, http://www.valdel.com/uploads/images/full/465291b636776587927d86f57aafd06b.jpg 120w, http://www.valdel.com/uploads/images/full/ac133f5b39da77f61c5cd7d315bd5e64.jpg 1366w" src="http://www.valdel.com/uploads/images/full/ac133f5b39da77f61c5cd7d315bd5e64.jpg" alt="Real estate">
</div>
<div class="sldtxt desk">
                        <h3>Real estate</h3>
                        <p>Pioneers In Redefining Skylines.
</p>
                        <a href="http://valdel.com/real_estate" class="read">read more</a>
                    </div>
                     
                     </div><div class="sld cycle-slide" style="position: absolute; top: 0px; left: 0px; z-index: 100; visibility: visible; opacity: 0.317087; display: block;">
                     <div class="mob"><img src="http://www.valdel.com/uploads/images/full/8e711441b880f25d4ae20df2d3300bf7.jpg" alt="advanced technologies">
                     <div class="sldtxt">
                        <h3>advanced technologies</h3>
                        <p>Excellence In Design &amp; <br>
Manufacturing</p>
 <div class="read1">
                        <a href="http://valdel.com/advanced_technologies" class="read">read more</a>
 </div>
                    </div>

                     </div> 

                     <div class="desk"><img sizes="(max-width: 1366px) 100vw, 1366px" srcset="http://www.valdel.com/uploads/images/full/8e711441b880f25d4ae20df2d3300bf7.jpg 624w, http://www.valdel.com/uploads/images/full/bd617ef735a06cae8d0eec1790bf37e6.jpg 120w, http://www.valdel.com/uploads/images/full/41f0c193ee8efad428e30ad48831d30d.jpg 1366w" src="http://www.valdel.com/uploads/images/full/41f0c193ee8efad428e30ad48831d30d.jpg" alt="advanced technologies">
</div>
<div class="sldtxt desk">
                        <h3>advanced technologies</h3>
                        <p>Excellence In Design &amp; <br>
Manufacturing</p>
                        <a href="http://valdel.com/advanced_technologies" class="read">read more</a>
                    </div>
                     
                     </div></div>
                  <div class="hbanctrls">
                   <div class="centcontxl">
                       <div id="banpgr1"><span class="">•</span><span class="">•</span><span class="cycle-pager-active">•</span></div><a href="#" class="playpause1">Play/Pause</a>
                   </div>
                     </div>
             </div>
           </div>

             </div>
         </section>