
<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"/>

<sly data-sly-call="${clientlib.all@ categories='kittu'}"/></sly>

<div data-sly-use.banner1="com.aem.geeks.core.models.Banner1"></div>

<div id="sitebanner-template" class="">

	<div id="hero-image-container">

		<div class="image-as-background" id="imageAsBackground" data-image-url="${banner1.image}"
			 style="background-image: url('/content/dam/morganamazon/banner.jpg');"></div>

		<div class="hero-image-content black-color wrap-text" id="heroImageContent">
			<h3>${banner1.title} </h3>
			<p>${banner1.description} </p>
			<p>Page Title : ${banner1.image} </p>


		</div>
	</div>

</div>



